Repository AmadeusITGroup/AgnosUI, pull requests merged in 2025-03, with the labels that each got.

#1128 fix(slider): Style ticks directly with css
  angular/bootstrap/src/components/slider/slider.component.ts
  angular/demo/bootstrap/src/app/samples/slider/ticks.route.ts
  angular/demo/bootstrap/src/app/samples/slider/vertical.route.ts
  core-bootstrap/src/scss/_variables.scss
  core-bootstrap/src/scss/slider.scss
  e2e/samplesMarkup.singlebrowser-e2e-spec.ts-snapshots/bootstrap-slider-right-to-left.html
  e2e/samplesMarkup.singlebrowser-e2e-spec.ts-snapshots/bootstrap-slider-ticks.html
  e2e/samplesMarkup.singlebrowser-e2e-spec.ts-snapshots/bootstrap-slider-vertical.html
  react/bootstrap/src/components/slider/slider.tsx
  react/demo/src/bootstrap/samples/slider/Ticks.route.tsx
  react/demo/src/bootstrap/samples/slider/Vertical.route.tsx
  svelte/bootstrap/src/components/slider/SliderDefaultTick.svelte
  svelte/demo/src/bootstrap/samples/slider/Ticks.route.svelte
  svelte/demo/src/bootstrap/samples/slider/Vertical.route.svelte
Labels: bug, widget: slider

#1133 fix(slider): Add value-now class to the tick
  core-bootstrap/src/scss/slider.scss
  core/src/components/slider/slider.ts
  e2e/samplesMarkup.singlebrowser-e2e-spec.ts-snapshots/bootstrap-slider-ticks.html
  e2e/samplesMarkup.singlebrowser-e2e-spec.ts-snapshots/bootstrap-slider-vertical.html
  e2e/slider/slider.e2e-spec.ts
  page-objects/lib/slider.po.ts
Labels: enhancement, widget: slider

#1134 chore: fix missing dependencies in stackblitz wireit config
  demo/stackblitz/package.json
Labels: bug

#1136 fix: headless themes not respecting local storage
  angular/demo/daisyui/src/index.html
  react/demo/src/daisyui/index.html
  svelte/demo/src/daisyui/index.html
Labels: bug, demo

#1116 fix(slider): Allow drag of the handle initiated on clickable area
  angular/bootstrap/src/components/slider/slider.component.ts
  core/src/components/slider/slider.spec.ts
  core/src/components/slider/slider.ts
  e2e/slider/slider.e2e-spec.ts
  react/bootstrap/src/components/slider/slider.tsx
  svelte/bootstrap/src/components/slider/SliderDefaultHandle.svelte
Labels: enhancement, widget: slider

#1088 feat: Toast service
  angular/bootstrap/src/agnos-ui-angular.module.ts
  angular/bootstrap/src/components/toast/index.ts
  angular/bootstrap/src/components/toast/toaster.component.ts
  angular/bootstrap/src/components/toast/toaster.service.ts
  angular/bootstrap/src/index.ts
  angular/demo/bootstrap/src/app/samples/toast/dynamic.route.ts
  angular/demo/bootstrap/src/app/samples/toast/toaster.route.ts
  angular/headless/src/components/toast/index.ts
  angular/headless/src/components/toast/toaster.service.ts
  angular/headless/src/utils/stores.spec.ts
  angular/headless/src/utils/stores.ts
  common/demo.scss
  core-bootstrap/src/components/toast/toast.ts
  core-bootstrap/src/scss/agnosui.scss
  core-bootstrap/src/scss/toaster.scss
  core/src/components/toast/index.ts
  core/src/components/toast/toaster.spec.ts
  core/src/components/toast/toaster.ts
  core/src/services/siblingsInert.spec.ts
  demo/src/routes/docs/[framework]/components/toast/examples/+page.svelte
  e2e/demo-po/toaster.po.ts
  e2e/samplesMarkup.singlebrowser-e2e-spec.ts-snapshots/bootstrap-toast-toaster.html
  e2e/toast/toaster.e2e-spec.ts
  page-objects/lib/index.ts
  page-objects/lib/toaster.po.ts
  react/bootstrap/src/components/toast/index.ts
  react/bootstrap/src/components/toast/toasterProvider.tsx
  react/bootstrap/src/types.ts
  react/demo/src/bootstrap/samples/toast/Toaster.route.tsx
  react/headless/src/components/toast/index.ts
  react/headless/src/components/toast/toasterProvider.tsx
  scripts/generateExports.js
  svelte/bootstrap/src/components/toast/Toaster.svelte
  svelte/bootstrap/src/components/toast/index.ts
  svelte/bootstrap/src/components/toast/toasterService.ts
  svelte/bootstrap/src/types.ts
  svelte/demo/src/bootstrap/samples/toast/Toaster.route.svelte
  svelte/headless/src/components/toast/index.ts
  svelte/headless/src/components/toast/toasterService.ts
Labels: enhancement, widget: toast

#1144 feat(carousel): slots structure and navigation
  angular/bootstrap/src/agnos-ui-angular.module.ts
  angular/bootstrap/src/components/carousel/carousel.component.ts
  angular/demo/bootstrap/src/app/samples/carousel/default.route.ts
  core-bootstrap/src/components/carousel/carousel.ts
  core/src/components/carousel/carousel.ts
  e2e/samplesMarkup.singlebrowser-e2e-spec.ts-snapshots/bootstrap-carousel-default.html
  react/bootstrap/src/components/carousel/carousel.tsx
  react/demo/src/bootstrap/samples/carousel/Default.route.tsx
  svelte/bootstrap/src/components/carousel/Carousel.svelte
  svelte/bootstrap/src/components/carousel/CarouselDefaultNavigation.svelte
  svelte/bootstrap/src/components/carousel/CarouselDefaultStructure.svelte
  svelte/demo/src/bootstrap/samples/carousel/Default.route.svelte
  svelte/demo/src/daisyui/samples/carousel/Default.route.svelte
  typedoc.base.json
Labels: enhancement, widget: carousel

#1145 feat(carousel): tabList directive for tabs using navManager
  angular/bootstrap/src/components/carousel/carousel.component.ts
  angular/demo/daisyui/src/app/samples/carousel/carousel.component.html
  angular/demo/daisyui/src/app/samples/carousel/gallery.component.html
  core-bootstrap/src/components/carousel/carousel.ts
  core/src/components/carousel/carousel.ts
  e2e/samplesMarkup.singlebrowser-e2e-spec.ts-snapshots/bootstrap-carousel-default.html
  e2e/samplesMarkup.singlebrowser-e2e-spec.ts-snapshots/daisyui-carousel-default.html
  e2e/samplesMarkup.singlebrowser-e2e-spec.ts-snapshots/daisyui-carousel-demogallery.html
  e2e/ssr.ssr-e2e-spec.ts-snapshots/ssr.html
  react/bootstrap/src/components/carousel/carousel.tsx
  react/demo/src/daisyui/samples/carousel/Carousel.tsx
  react/demo/src/daisyui/samples/carousel/Gallery.tsx
  svelte/bootstrap/src/components/carousel/CarouselDefaultNavigation.svelte
  svelte/demo/src/daisyui/samples/carousel/Carousel.svelte
  svelte/demo/src/daisyui/samples/carousel/Gallery.svelte
Labels: enhancement, widget: carousel

#1147 fix(demo): mobile horizontal scrollbar
  demo/src/routes/app.css
Labels: bug, demo

#1150 fix(demo): TOC + flash in dropdown
  demo/src/lib/layout/DropdownDaisyUI.svelte
  demo/src/routes/menu/TOC.svelte
  demo/src/routes/menu/Theme.svelte
Labels: bug, demo

#1151 feat(demo): update keywords and description
  demo/src/routes/+layout.ts
  package.json
Labels: demo

#1152 feat: fwk id for accordion item and collapse
  react/bootstrap/src/components/accordion/accordion.tsx
  react/bootstrap/src/components/collapse/collapse.tsx
  react/demo/src/daisyui/samples/accordion/Accordion.tsx
  svelte/bootstrap/src/components/accordion/Item.svelte
  svelte/bootstrap/src/components/collapse/Collapse.svelte
  svelte/demo/src/daisyui/samples/accordion/AccordionItem.svelte
Labels: enhancement, widget: accordion, widget: collapse
